<!--Online script-->
<!--<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>-->
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-teal.css">

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>


        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-opennav"></i>
            <div class="w3-center">
                <h4>NEW WAY TO MANAGE A ZOO</h4>
                <h1 class="w3-xxxlarge w3-animate-bottom">PANDORA</h1>
            </div>
        </header>
        <div>

            <div class="w3-row-padding">
                <div class="w3-card-8">
                    <div style="width:100%;" ng-controller="game">
                        <div style="margin-left: auto; margin-right: auto; width:800px; margin-top:20px; padding-top: 15px;" id="game"></div>
                    </div>
                    <div class="w3-container">
                        <p></p>
                    </div>
                </div>
            </div>

            <hr>

        </div>
        <!-- Footer -->
        <footer class="w3-container w3-theme-dark w3-padding-hor-16">
            <h3>© 2016</h3>
            <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> & <a href="http://phaser.io/" target="_blank">Phaser.io</a> - by Delcourt Alban & Vanson Corentin</p>
        </footer>
    </div>
</div>

<script src="/javascripts/angular/pandoraApp.js"></script>
<!--Local script-->
<script src="javascripts/phaser/build/phaser.min.js"></script>
<script src="javascripts/phaser/phaser-plugin-isometric/dist/phaser-plugin-isometric.min.js"></script>

<script src="javascripts/game/GameCreate.js"></script>
<script src="javascripts/game/GameLoader.js"></script>
<script src="javascripts/game/GameRender.js"></script>
<script src="javascripts/game/GameUpdate.js"></script>
<script src="javascripts/game/Render.js"></script>

<!--<script src="/javascripts/motor/Drawer.js"></script>
<script src="/javascripts/motor/Canvas.js"></script>
<script src="/javascripts/motor/CanvasTile.js"></script>
<script src="/javascripts/motor/CanvasRoad.js"></script>
<script src="/javascripts/motor/CanvasBuilding.js"></script>
<script src="/javascripts/motor/CanvasHover.js"></script>
<script src="/javascripts/motor/Menu.js"></script>
<script src="/javascripts/motor/Tile.js"></script>
<script src="/javascripts/motor/Building.js"></script>
<script src="/javascripts/motor/Road.js"></script>
<script src="/javascripts/motor/Fence.js"></script>
<script src="/javascripts/motor/Animal.js"></script>
<script src="/javascripts/motor/Map.js"></script>-->
<!--Index-->
<script src="/javascripts/index.js"></script>

<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/what-input.min.js"></script>
<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/app.js"></script>
