<!--Online script-->
<!--<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>-->
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>



        <div class="off-canvas-content" data-off-canvas-content>
            
            <div  ng-controller="game">
            <div class="row" style="border-left: 1px solid black; border-right: 1px solid black;" id="game">

            </div>
            <hr>

            </div>

        </div>
    </div>
</div>

<script src="/javascripts/angular/pandoraApp.js"></script>
<!--Local script-->
<script src="javascripts/phaser/build/phaser.min.js"></script>
<script src="javascripts/phaser/phaser-plugin-isometric/dist/phaser-plugin-isometric.min.js"></script>

<script src="javascripts/game/GameCreate.js"></script>
<script src="javascripts/game/GameLoader.js"></script>
<script src="javascripts/game/GameRender.js"></script>
<script src="javascripts/game/GameUpdate.js"></script>
<script src="javascripts/game/Render.js"></script>

<!--<script src="/javascripts/motor/Drawer.js"></script>
<script src="/javascripts/motor/Canvas.js"></script>
<script src="/javascripts/motor/CanvasTile.js"></script>
<script src="/javascripts/motor/CanvasRoad.js"></script>
<script src="/javascripts/motor/CanvasBuilding.js"></script>
<script src="/javascripts/motor/CanvasHover.js"></script>
<script src="/javascripts/motor/Menu.js"></script>
<script src="/javascripts/motor/Tile.js"></script>
<script src="/javascripts/motor/Building.js"></script>
<script src="/javascripts/motor/Road.js"></script>
<script src="/javascripts/motor/Fence.js"></script>
<script src="/javascripts/motor/Animal.js"></script>
<script src="/javascripts/motor/Map.js"></script>-->
<!--Index-->
<script src="/javascripts/index.js"></script>

<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/what-input.min.js"></script>
<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/app.js"></script>
