<!--Online script-->
<!--<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>-->

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right reveal-for-large" id="my-info" data-off-canvas data-position="right">
            <div class="row column" ng-controller="animalSelected">
                <br>
                <img ng-if="animal" class="thumbnail img-selected" src="// animal.url_img //">
                <div>
                    <h5 ng-if="animal">// animal.name //</h5>
                    <h5 ng-if="!animal"> Sélectionnez un animal</h5>
                    <ul ng-if="animal">
                        <li>Classe : // animal.class //</li>
                        <li>Ordre : // animal.order //</li>
                        <li>Famille : // animal.family //</li>
                        <li>Espèce : // animal.species //</li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">Animal sélectionné :</span>
                </div>
            </div>



            <div class="callout success">
                <div class="row column">
                    <h1><strong>Pandora</strong></h1>
                </div>
            </div>
            <div  ng-controller="game">
            <div class="row" style="border-left: 1px solid black; border-right: 1px solid black;" id="game">
                <!--<div style="position:relative;width:1000px;height:600px;margin-right:auto;margin-left:auto;" id="PandoraContainer" ng-controller="game" >
                        <canvas style="position:absolute;top:0px;width:100%;height:100%;" id="PandoraTile" height="600"
                                width="1000"></canvas>
                        <canvas style="position:absolute;top:0px;width:100%;height:100%;" id="PandoraRoad" height="600"
                                width="1000"></canvas>
                        <canvas style="position:absolute;top:0px;width:100%;height:100%;" id="PandoraBuilding" height="600"
                                width="1000"></canvas>
                        <canvas style="position:relative; width:100%; height:100%;" id="Pandora" height="600" width="1000"></canvas>
                        <canvas style="position:absolute;top:0px;width:100%;height:100%;" id="PandoraHover" height="600"
                                width="1000"></canvas>
                        <canvas style="position:absolute;top:0px;width:100%;height:100%;" id="PandoraMenu" height="600"
                                width="1000"></canvas>
                </div>-->
            </div>
            <hr>


            <!--<div ng-controller="animalsController" class="row small-up-2 medium-up-3 large-up-4" style="border-left: 1px solid black; border-right: 1px solid black;">
                <div class="column" ng-repeat="an in animals()">
                    <h5>// an.name //</h5>
                    <img class="thumbnail img-gallery" src="// an.url_img //" ng-click="selectAnimal(an)">
                </div>
            </div>-->
            </div>

        </div>
    </div>
</div>

<script src="/javascripts/angular/pandoraApp.js"></script>
<!--Local script-->
<script src="javascripts/phaser/build/phaser.min.js"></script>
<script src="javascripts/phaser/phaser-plugin-isometric/dist/phaser-plugin-isometric.min.js"></script>

<script src="javascripts/game/GameCreate.js"></script>
<script src="javascripts/game/GameLoader.js"></script>
<script src="javascripts/game/GameRender.js"></script>
<script src="javascripts/game/GameUpdate.js"></script>
<script src="javascripts/game/Render.js"></script>

<!--<script src="/javascripts/motor/Drawer.js"></script>
<script src="/javascripts/motor/Canvas.js"></script>
<script src="/javascripts/motor/CanvasTile.js"></script>
<script src="/javascripts/motor/CanvasRoad.js"></script>
<script src="/javascripts/motor/CanvasBuilding.js"></script>
<script src="/javascripts/motor/CanvasHover.js"></script>
<script src="/javascripts/motor/Menu.js"></script>
<script src="/javascripts/motor/Tile.js"></script>
<script src="/javascripts/motor/Building.js"></script>
<script src="/javascripts/motor/Road.js"></script>
<script src="/javascripts/motor/Fence.js"></script>
<script src="/javascripts/motor/Animal.js"></script>
<script src="/javascripts/motor/Map.js"></script>-->
<!--Index-->
<script src="/javascripts/index.js"></script>

<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/what-input.min.js"></script>
<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/app.js"></script>
